body{
    text-align: center;
    background-color : rgb(255, 245, 245);
    opacity: 0.7;
    color: rgb(61, 0, 48);
    


}
div{
    font-size:12pt; 
    text-align: center;
    margin : auto;
    color: rgb(136, 57, 100);
    font-family: 나눔고딕;
}

h1,h2,h3,h4{
    color: rgb(61, 0, 48); 
    


}

a{
    color:rgb(148, 36, 120);
    text-decoration: none;



}


p {

    background-color: rgb(255, 170, 189);
    text-align: center;
    font-family : 견고딕;



}

ul,ol {
    width: 500px;
    margin-left:auto;
    margin-right: auto;
    




}

label{
    display: inline-block;
    
}

mark{
    background-color: rgb(246, 255, 169);
    color : rgb(34, 7, 7);




}
h2{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:3px;
    margin-top: 70px;
    margin-bottom:20px;
  }
  
  .btn2 {
      
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: center;
    background-color : rgb(255, 219, 219);
    color: rgb(136, 57, 100);
    border:none;
    position:relative;
    height:100px;
    width: 60px;
    font-size:1.8em;
    padding:0 3em;
    cursor:pointer;
    transition:1000ms ease all;
    outline:none;
  }
  .btn2:hover{
    background:rgb(250, 229, 229);
    height:100px;
    color :rgb(61, 0, 48); 
  }
  .btn2:before,.btn2:after{
    content:'';
    text-align: center;
    color: rgb(136, 57, 100);
    position:absolute;
    top:0;
    right:0;
    height:3px;
    width:0;
    background-color: rgb(107, 37, 92); 
    transition:1000ms ease all;
  }
  .btn2:after{
      
    text-align: center;
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn2:hover:before,.btn2:hover:after{
    width:100%;
    transition:1000ms ease all;
    text-align: center;
  }
  
  
header
{
   



  }