body{
    background-color : rgb(226, 225, 226);
    


}
div {
    font-size:12pt; 
    text-align: center;
    margin : auto;
    color: rgb(151, 148, 151); 
    font-family: 나눔고딕;
}
h1,h2{
    color: rgb(107, 106, 107); 





}


