body{
    background-color : rgb(255, 245, 245);
    opacity: 0.7;
    


}
div {
    font-size:12pt; 
    text-align: center;
    margin : auto;
    color: rgb(136, 57, 100);
    font-family: 나눔고딕;
}
h1,h2,h3,h4{
    color: rgb(117, 9, 81); 

}

a{
    color:rgb(148, 36, 120);
    text-decoration: none;



}

button {
    background-color: rgb(255, 196, 196);
    border: 0;
    outline :0;
    border-radius: 12px;
    opacity: 0.8;




}


